package ${package}.domain.service;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import ${package}.repository.${className}Mapper;
import ${package}.domain.model.${className};
import ${package}.domain.api.${className}Service;

import com.baomidou.mybatisplus.service.impl.ServiceImpl;

@Service("${classname}Service")
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements ${className}Service {
	
}
